# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions
cryptography~=45.0.4
azure-identity~=1.23.0
jmespath~=1.0.1
python-dateutil~=2.9.0.post0
aiohttp==3.12.12
