# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions
cryptography~=42.0.0
azure-identity
jmespath~=0.10.0
python-dateutil~=2.8.1
aiohttp==3.9.2
